*{box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Plus Jakarta Sans", sans-serif;
}

body.darkMode {
    background-color: #1A202C;
}
  
.darkMode h1{
    color: white;
}
  
.darkMode ul>li>a{
    color: white;
}
  
.darkMode p{
    color: white;
}

main > div > h2 {
    display: flex;
    justify-content: center;
    align-items: flex-start
    float: left;
    color: #306bb3;
}

main > img > aside {
  float: left; 
  justify-content: left;
}

article {
    text-align:center
}
